<header>
  <div><h1><a href="/heim.html">Home</a></h1></div>
  <nav>
    <ul>
      <li><a href="/lán.html">Lán</a></li>
      <li><a href="/laun.html">Laun</a></li>
      <li><a href="/sparnaður.html">Sparnaður</a></li>
    </ul>
  </nav>
</header>
