<header>
	<div class="container max-width">
		<div class="home">
			<a class="home-title" href="/heim.html">
				Fjármál
			</a>
			<p class="subtext"> á mannamáli </p>
		</div>
		<nav class="nav">
			<ul>
				<li>
					<a href="/lán.html">Lán</a>
					<!-- <img class="icon" src="./img/bank.svg" alt="banki"> -->
				</li>
				<li>
					<a href="/laun.html">Laun</a>
					<!-- <img class="icon" src="./img/dollar.svg" alt="peningur"> -->
				</li>
				<li>
					<a href="/sparnaður.html">Sparnaður</a>
					<!-- <img class="icon" src="./img/wallet.svg" alt="veski"> -->
				</li>
			</ul>
		</nav>
	</div>
</header>
