<section class="hero max-width">
    <div class="hero-content">
        <div >
            <h1> Markmið okkar er að einfalda fjármál. </h1>
        </div>
        <br>
        <div>
            <h2>Prófaðu reiknivélarnar:</h2>
            <div class="button-container">
                <a class="button" href="laun.html">Laun</a>
                <a class="button" href="lán.html">Lán</a>
                <a class="button" href="sparnaður.html">Sparnaður</a>
            </div>
        </div>
    </div>
</section>