<section class="quote max-width">
    <q class="quote-text"> 
        Vextir eru áttunda undur veraldar. Sá sem skilur þá, hagnast á þeim. Sá sem gerir það ekki, borgar þá
    </q>
    <p class="quote-author"> - Albert Einstein</p>
</section>