<!Doctype html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="input.css">
    <title>Launamál</title>
    <script src="validation.js"></script>
</head>

<body>
    <header class="hbox">
        <div class="vbox">
            <h1>Launamál</h1>
            <nav class="links">
                <a href="index.html">Heim</a>
                <a href="loan.html">Lánareiknivél</a>
                <u>Skattreiknivél</u>
                <a href="situation.html">Sparnaðarreiknivél</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="vbox">
            <label id="incomeLabel">ISK 600.000</label>
            <input id="incomeInput" type="range" value="600000" min="0" max="3000000" step="10000"
                oninput="incomeChanged()">
        </div>
        <canvas id="chart"></canvas>
        <script await src="tax.js"></script>
    </div>
</body>

</html>
