:root {
	/* Colors */
	--primary-blue: #93B7FF;

	/* Deep Blue */
	--secondary-blue: #005B96;

	/* Mid Blue */
	--accent-blue: #0091D5;

	/* Light Blue */
	--background-color: #F2F0DF;

	/* Very Light Blue */
	--neutral-blue: #F7FAFC;

	/* Off-White/Grayish Blue */
	--text-color: black;
	--text-color-light: #6b6b6b;

	/* Spacing */
	--spacing-big: 32px;
	--spacing-medium: 24px;
	--spacing-small: 16px;
	--spacing-tiny: 8px;

	/* Border Radius */
	--border-radius-big: 16px;
	--border-radius: 8px;
	--border-radius-small: 4px;

	/* Text sizes */
	--big-text: 64px;
	--small-text: 32px;

	/* Max widths */
	--max-width: 1200px;

	/* Grid */
	--columns: 4;
	--gap: var(--spacing-small);
	--column-width: calc(var(--max-width) / var(--columns) - var(--gap));

	/* Header */
	--header-height: 80px;
}

* {
	margin: 0;
	padding: 0;
    line-height: 1.4;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-optical-sizing: auto;
	font-weight: 525;
	font-style: normal;
	color: var(--text-color);
}


h1 {
	font-family: "Playfair Display", sans-serif;
	padding: var(--spacing-medium) 0;
	font-size: 48px;
}

h2 {
	font-family: "Playfair Display", sans-serif;
	padding: var(--spacing-small) 0;
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

ul {
	list-style-type: none;
}

header {
	font-family: "Playfair Display", sans-serif;
	position: sticky;
	width: 100%;
}

.break-line {
	content: " ";
	border: 1px solid #bbb;
	margin: var(--spacing-big) auto;
	max-width: calc(var(--max-width) - 0px);
}

header>div {
	border-bottom: 1px solid #bbb;
}

.home {
	font-family: "Playfair Display", sans-serif;
	padding: var(--spacing-medium) 0;
	display: flex;
	flex-direction: column;
	justify-self: start;
	align-items: center;
}

.home-title {
	font-family: "Playfair Display", sans-serif;
	font-size: 48px;
	font-weight: bold;
}


.button {
	padding: var(--spacing-tiny) var(--spacing-medium);
	border: 1.5px solid black;
	border-radius: var(--boarder-radius-small);
	background-color: var(--primary-blue);
	color: black;
}

.button:hover {
	background-color: white;
	transform: scale(1.05);
}

.button-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-tiny);
}

.container {
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "home nav nav .";
	flex-direction: row;
}

.subtext {
	position: relative;
	top: -12px;
	left: 29px;
	font-size: large;
	color: var(--text-color-light)
}

header .container .nav {
	grid-column: 2 / 4;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

header nav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

header nav ul li {
	display: flex;
	align-items: center;
}

a {
	font-family: "Playfair Display", sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: black;
}

header nav ul li a {
	font-size: xx-large;
}

body {
	padding: 0 var(--spacing-big);
	background-color: var(--background-color);
}

.max-width {
	margin: 0 auto;
	max-width: var(--max-width);
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	background-image: url('./img/Peningar.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-content {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

.quote {
	display: flex;
	padding: var(--spacing-big) 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.quote-text {
	max-width: calc(2*var(--max-width)/3);
	text-wrap: wrap;
	text-align: center;
	font-size: 32px;
	padding: var(--spacing-big);
	color: #757575;
}

.quote-author {
	color: #757575;
	font-size: 32px;
}

.footer-container {
	margin-top: var(--spacing-big);
	display: grid;
	justify-content: center;
	grid-template: 1fr 1fr;
	height: var(--footer-height);
    gap: var(--spacing-medium);
	color: #757575;
}

/* Graph container */

.dashboard {
	display: grid;
	gap: var(--spacing-medium);
	grid-template-columns: 2fr 2fr 2fr 0.1fr;
	grid-template-rows: 0.5fr 1fr 1fr 1fr;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-areas: 
        "main-stat 		 alt-stat   	 alt-stat        ."
        "graph-container graph-container graph-container settings"
		"graph-container graph-container graph-container settings"
		"graph-container graph-container graph-container settings";
}

.dashboard>div {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--spacing-small);
	padding: var(--spacing-big) 0;
}

.currency {
	font-size: 32px;
}

.main-stat {
}

.alt-stat {
}

.settings {
	grid-column: 4;
	grid-row: 1/4;
}

.settings-container {
	display: flex;
	margin: 0 auto;
	gap: var(--spacing-big)
}

.settings-group {
    display:flex;
    flex-direction: column;
    width:100%
}

.radio-option {
	display: flex;
	justify-content: space-between;
}

.radio-input {
	width: 20px;
}

.graph-container {
	grid-column: 1 / 4 ;
	grid-row: 2 / 4;
	padding: var(--spacing-small) !important;
}

.my-chart {
	width:100%;
	height: 100%;
}

.dashboard-subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-small);
}

.icon {
	width: 30px;
}

.icon-container {
	display: flex;
	background-color: white;
	place-items: center;
	padding: var(--spacing-tiny);
	border-radius: 16px;
	border: black 1px solid;
}


input {
    border-radius: var(--border-radius); 
	padding: var(--spacing-tiny);
	border: none;
}

input[type="number"]{
    -moz-appearance: textfield;
}

input:focus{
    outline: none;
}

.input-group {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-tiny);
    border: 2px solid black;
    border-radius: var(--border-radius);
	background-color: white;
}

.input-type {
	transform: translate(-8px);
}

.my-name {
	font-size: 24px;
	text-decoration: underline;
}